packaging
ninja
numpy
einops
tqdm
transformers
datasets
sentencepiece
boto3
botocore
py-libnuma
torch
torch-scatter
-f https://data.pyg.org/whl/torch-2.1.0+cu118.html
pre-commit
pyecharts
psutil
gputil
pynvml
tensorboard
pytest